@model InsuranceManagementApp.Models.ContactForm

@{
    ViewData["Title"] = "Delete";
}

<h2>Kontakrní Formulář</h2>

<h3>Opravdu chcete smazat tento záznam?</h3>
<div>
    <h4>Smazat záznam</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn" /> |
        <a class="btn" asp-action="Index">Zpět na výpis</a>
    </form>
</div>
