@model InsuranceManagementApp.Models.Insurance

@{
    ViewData["Title"] = "Delete";
}

<h2>Pojištění</h2>

<h3>Opravdu chcete smazat tento záznam?</h3>
<div>
    <h4>Smazat záznam</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyHolder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolicyHolder.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsuranceType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a class="btn" asp-action="Index">Zpět na výpis</a>
    </form>
</div>
